/* CSS Variables */
:root {
    --darkerblue: #001b2e;
    --darkblue: #294c60;
    --grayblue: #adb6c4;
    --lighttan: #ffefd3;
    --peach: #ffc49b;
    --flex-basis-left: 0 0 15%;
    --flex-basis-right: 0 0 85%;
}


/* Universal Selectors */
*, *::before, *::after {
    box-sizing: border-box;
}

.align-left {
    flex: var(--flex-basis-left);
    text-align: right;
    align-items: center;
}



/* Navbar Selectors */
.navbar {
    background-color: var(--darkerblue);
    position: fixed;
    top: 0px;
    width: 100vw;
    color: whitesmoke;
}

.navbar-item {
    color: whitesmoke;
    font-size: large;
    font-weight: normal;
}

.navbar-item, .navbar-link {
    color: whitesmoke;
    background-color: var(--darkerblue);
}

/* Main Content / Body */
.main-container {
    padding: 2rem;
}

body {
    background-color: whitesmoke;
}

.brand-statement {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.bio-section {
    background-color: whitesmoke;
    color: var(--darkerblue);
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* position: relative; */
    /* right: 25%; */
    top: 1rem;
    /* border: plum solid 3px; */
    color: var(--darkerblue);
    background-color: var(--grayblue);
}

.quote {
    font-family: 'Shalimar', cursive;
    font-size: 4rem;
    text-align: center;
    position: relative;
    /* left: 10%; */
    padding-bottom: 5rem;
    padding-right: 5rem;
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #155370;
    position: relative;
    color: seashell;
    border-color: #F6B49B;
}


h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* border: springgreen solid 3px; */
    color: whitesmoke;
    padding-top: 8rem;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* border: pink solid 3px; */
}

h4 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
    /* border:purple solid 3px; */
}

.dev-name {
    padding: 1rem;
}

.item {
    height: 350px;
}

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 40%;
    border: 0;
    height: 1px;
    color: var(--darkerblue);
}


.brand-statement {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
    /* border: red solid 5px; */
}

.profile-pic {
    border: 50%;
    margin-top: 7rem;
    left: 2.5rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    padding: 20px 0;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    flex-wrap: wrap;
    align-items: center;
}

.links1 {
    text-align: center;
    flex: var(--flex-basis-right);
}

.links1 ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
    color: whitesmoke;
}

/* .hero {
    height: 30rem;
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../assets/Images/mountains.jpeg"); */
    /* background-size: cover;
    position: relative; 
}/*



