/* ======== CSS Variables ======== */
:root {
    --darkerblue: #001b2e;
    --darkblue: #294c60;
    --grayblue: #adb6c4;
    --lighttan: #ffefd3;
    --peach: #ffc49b;
    --flex-basis-left: 0 0 20%;
    --flex-basis-right: 0 0 80%;
}


/* ======== Universal Selectors ======== */
*, *::before, *::after {
    box-sizing: border-box;
}

.align-left {
    flex: var(--flex-basis-left);
    text-align: right;
    align-items: center;
}

.align-right {
    border-left: var(--darkerblue) solid 2px;
}

.about-me > p {
    flex: var(--flex-basis-right);
    padding: 0 2rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

a {
    cursor: pointer;
}

hr {
    color: black solid 2px;
}


/* ======== HEADERS ======== */

header {
    background-color: var(--darkblue);
    padding: 1px;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 52px;
    margin-left: 3rem;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;    
}

.about-me h2,
.technologies h2,
.work h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: var(--darkerblue);
    padding-right: 2rem;
    display: inline;    
    flex: var(--flex-basis-left);
    background-color: var(--lighttan);
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: var(--darkerblue);
    padding-right: 2rem;
    display: inline;    
    flex: var(--flex-basis-left);
}

h3 {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
}


/* ======== Navbar Selectors ======== */

.links {
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-size: 20px;
}

.links a {
    padding-left: 2rem;
    color: white;
}

.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
    padding-left: 2rem;
}

.hero {
    height: 30rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/Images/mountains.jpeg"); 
    background-size: cover;
    position: relative;
}

#profile-pic {
    position: absolute;
    width: 150px;
    height: auto;
    left: 1rem;
    top: 0.5rem;
    border-radius: 50%;
    float: left;
}

#quote {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-family: 'Shalimar', cursive;
    font-size: 4rem;
    text-align: center;
    padding-right: 5rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    color: var(--darkblue);
    font-weight: bold;
    background-color: var(--lighttan);opacity:0.9;
    width: 40%;
}


/* ======== Main Content / Body ======== */
.main-container {
    padding: 2rem;
}

body {
    background-color: white;
}

.brand-statement {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


/* ======== ABOUT ME ======== */
.about-me {
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.brand-statement {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    flex: var(--flex-basis-right);
}


/* ======== TECHNOLOGIES / SKILLS ======== */
.technologies {
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    align-items: center;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skills {
    margin: 1rem;
}


/* ======== WORK ======== */
.work {
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    align-items: center;
    justify-content: space-between;
}

.item {
    height: 350px;
}

.carousel-caption {
    color: white;
    font-size: 3rem;
    background-color: var(--darkerblue);
    border-radius: 2%;
    position: absolute;
    align-items: left;
    font-weight: bold;
}

.img-box1 {
    opacity: 0.8;
}

.img-box1:hover {
    opacity: 1;
    cursor: pointer;
}

.carousel-container {
    margin-left: 0px !important;
}


/* ======== CONTACT ME ========= */
.contact-me {
    display: flex;
    flex-direction: row;
    flex: var(--flex-basis-left);
    flex-wrap: wrap;
    padding: 15px 0;
    align-items: center;
    background-color: var(--darkblue);
    bottom: 0px;
}

.contact {
    color: white; 
} 

.contact-info-link {
    color: white;
    font-size: 2rem;
}

.links1 {
    text-align: center;
    flex: var(--flex-basis-right);
}

.links1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links1 ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
    color: var(--darkerblue);
}


.icon {
    display: none;
}


/* ===================== PROJECT PAGE ===================== */

.project-page-title {
    text-decoration: underline;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.col {
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}


.project-page-link1 {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.project-page-link2 {
    font-size: 1.5rem;
    margin-left: 2rem;
}


/* ================ MEDIA QUERIES ================= */

@media only screen and (max-width: 1320px) {
    .about-me h2,
    .technologies h2,
    .work h2 {
        font-size: 3.5rem;
    }
    .navbar-menu,
    .navbar-item {
        /* float: none; */
        /* clear: left; */
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .about-me h2,
    .technologies h2,
    .work h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1020px) {
    .about-me h2,
    .technologies h2,
    .work h2 {
        font-size: 2.8rem;
    }
}

@media only screen and (max-width: 1025px) {
    .about-me h2,
    .technologies h2,
    .work h2 {
        font-size: 2.6rem;
    } 
}

@media screen and (max-width: 980px) {

    header nav {
        float: none;
        clear: left;
        width: 100%;       
    }
    .links {
        float: none;
        /* display: inline-block; */
        text-align: center;
    }

    header nav ul {
        margin: 0;
        padding: 0;
    }

    .about-me,
    .technologies,
    .work,
    .contact-me {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    h2 {
        text-decoration: underline;
        font-size: 4rem;
    }

    header nav ul li {
        /* width: 20%; */
        padding: 0;
        /* text-align: center; */
        margin: 0;
    }

    .main-img-resize {
        width: 450px;
        height: auto;
    }

    .img-box-resize {
        width: 300px;
        height: auto;
    }
    
    .contact-me {
        display: block;
        justify-self: center;
        width: 100%;
    }

    .links1 {
        flex: none;
    }

    .align-right {
        border-left: none;
    }

    .item {
        height: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 420px)  {   

    header h1 {
        padding-left: 3rem;
    }

    header nav ul li,
    .links1 {
        width: 100%;
    }

    #quote {
        font-size: small;
    }

    .links1 ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .item {
        height: 250px;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .image-title1 {
        background-color: var(--lighttan);opacity: 95%;
        font-size: 1rem;
        top: 0.5rem;
        position: absolute;
        text-align: center;
        padding: 0.2rem;
        font-weight: bold;
    }
}